:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  background-color: RGBA(22, 22, 22, 1);
  background-image: linear-gradient(to right, RGBA(22, 22, 22, var(--opacity)), RGBA(22, 22, 22, var(--opacity))), url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  --opacity: 0.8;
}
